<nav>
    <div class="blog-title">
        <a href="/"><h1>My Blogs</h1></a>
        <p>Explore your own wisdom</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>