<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus odio, libero distinctio eum velit eos ex illum blanditiis voluptatum aspernatur tempora, doloremque reiciendis esse quibusdam nostrum dignissimos aliquid perspiciatis pariatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quasi expedita et placeat neque exercitationem impedit, magnam atque animi! Aliquam, magnam facere! Repellat dolorem quisquam, quasi voluptatibus similique libero optio.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deleniti, cumque sit doloribus nesciunt distinctio necessitatibus laboriosam delectus repellendus tenetur voluptates dolor, aperiam quidem recusandae vel, eos corporis reprehenderit. Ullam!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>